.body {
    background-color: rgb(55, 79, 102);
}

.core{
    padding: 50px;
  border: 1px solid #4CAF50;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    backgroung-color: #823f2c;
  }

  

  .flex-container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;;
    background-color: DodgerBlue;
  }

  /* * {box-sizing: border-box;} */
.mySlides {display: none;}
.flex-container > img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
    
}

/* Caption text */
.flex-container > text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.flex-container > numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

  
  .flex-container2 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .flex-container3 footer {
    height: 40px;
    width: 100%;
    /* margin: 10px;
    border: 1px solid #4CAF50; */
    justify-content: center;
    text-align: center;
    background: #f00;
    bottom: 0;
  }

  .flex-container4 {
    display: flex;
    background-color: DodgerBlue;
  }
